<h1>Teste de Proficiência Técnica</h1>

<p>
  Escolha umas das opções a seguir:
  <ul>
    <li>
      <%= link_to "Estudantes", students_path %>
    </li>
    <li>
      <%= link_to "Cursos", courses_path %>
    </li>
    <li>
      <%= link_to "Matrículas", classrooms_path %>
    </li>
  </ul>
</p>
